apiVersion: batch/v1
kind: Job
metadata:
  name: train
spec:
  ttlSecondsAfterFinished: 604800
  backoffLimit: 0                     
  template:
    spec:
      runtimeClassName: nvidia
      containers:
      - name: train
        image: rbarile17/grainsack
        command: ["python", "-u", "-m", "grainsack.operations", "train"]
        resources:
          requests:
            cpu: "0.2"
            memory: "100Mi"        
          limits:
            cpu: "2"
            memory: "4Gi"
            nvidia.com/gpu: 1
        volumeMounts:
        - name: lustre
          mountPath: /lustre
        - name: lustrehome
          mountPath: /lustrehome
      restartPolicy: Never
      volumes:
      - name: lustre
        hostPath:
          path: /lustre
          type: Directory
      - name: lustrehome
        hostPath:
          path: /lustrehome
          type: Directory
      nodeSelector:
        nvidia.com/gpu.product: NVIDIA-A100-PCIE-40GB
