apiVersion: batch/v1
kind: Job
metadata:
  name: test
spec:
  ttlSecondsAfterFinished: 604800
  backoffLimit: 0                     
  template:
    spec:
      runtimeClassName: nvidia
      containers:
      - name: test
        image: rbarile17/grainsack
        env:
          - name: PYSTOW_HOME
            value: /lustrehome/robertobarile
        command: ["python", "-u", "-m", "grainsack.operations", "tune", "--kg_name", "ATRAVEL-MATERIALIZE", "--kge_model_name", "TransE", "--output_path", "./experiments/kge_models/ATRAVEL-MATERIALIZE_TransE.pt"]
        resources:
          requests:
            cpu: "0.2"
            memory: "100Mi"        
          limits:
            cpu: "2"
            memory: "4Gi"
            nvidia.com/gpu: 2
        volumeMounts:
        - name: lustre
          mountPath: /lustre
        - name: lustrehome
          mountPath: /lustrehome
      restartPolicy: Never
      volumes:
      - name: lustre
        hostPath:
          path: /lustre
          type: Directory
      - name: lustrehome
        hostPath:
          path: /lustrehome
          type: Directory
      nodeSelector:
        nvidia.com/gpu.product: NVIDIA-A100-PCIE-40GB
